/*!
* buu wechat 1.4.4
*
*/


.ui-icon-shopping-cart:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M178.571%20428.571q0%2014.788-10.463%2025.251t-25.251%2010.463-25.251-10.463-10.463-25.251%2010.463-25.251%2025.251-10.463%2025.251%2010.463%2010.463%2025.251zM428.571%20428.571q0%2014.788-10.463%2025.251t-25.251%2010.463-25.251-10.463-10.463-25.251%2010.463-25.251%2025.251-10.463%2025.251%2010.463%2010.463%2025.251zM464.286%20125v142.857q0%206.696-4.464%2011.858t-11.44%205.999l-291.294%2034.040q0.279%201.953%201.255%205.999t1.674%207.394%200.698%206.138q0%204.464-6.696%2017.857h256.696q7.254%200%2012.556%205.301t5.301%2012.556-5.301%2012.556-12.556%205.301h-285.714q-7.254%200-12.556-5.301t-5.301-12.556q0-3.906%203.069-11.021t8.231-16.602%205.72-10.603l-49.386-229.632h-56.919q-7.254%200-12.556-5.301t-5.301-12.556%205.301-12.556%2012.556-5.301h71.429q4.464%200%207.952%201.813t5.581%204.325%203.627%206.836%202.093%207.394%201.535%208.231%201.255%207.115h335.101q7.254%200%2012.556%205.301t5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }
.ui-nosvg .ui-icon-shopping-cart:after { background-image: url("png/shopping-cart.png"); }

.ui-icon-buu-book:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M457.31%20133.371q11.161%2015.904%205.022%2035.993l-76.73%20252.79q-5.301%2017.857-21.345%2029.995t-34.18%2012.137h-257.534q-21.484%200-41.434-14.927t-27.762-36.691q-6.696-18.694-0.558-35.435%200-1.116%200.837-7.534t1.116-10.324q0.279-2.232-0.837-5.999t-0.837-5.441q0.558-3.069%202.232-5.859t4.604-6.557%204.604-6.557q6.417-10.603%2012.556-25.53t8.371-25.53q0.837-2.79%200.14-8.371t-0.14-7.813q0.837-3.069%204.743-7.812t4.743-6.417q5.859-10.044%2011.719-25.669t6.976-25.112q0.279-2.511-0.698-8.929t0.14-7.813q1.116-3.627%206.138-8.51t6.138-6.278q5.301-7.254%2011.858-23.577t7.673-26.925q0.279-2.232-0.837-7.115t-0.558-7.394q0.558-2.232%202.511-5.022t5.022-6.417%204.743-5.859q2.232-3.348%204.604-8.51t4.185-9.766%204.464-10.044%205.441-8.929%207.394-6.557%2010.044-3.208%2013.253%201.535l-0.279%200.837q10.603-2.511%2014.23-2.511h212.333q20.647%200%2031.808%2015.625t5.022%2036.272l-76.451%20252.79q-10.044%2033.203-19.95%2042.829t-35.854%209.626h-242.466q-7.534%200-10.603%204.185-3.069%204.464-0.279%2011.998%206.696%2019.531%2040.179%2019.531h257.534q8.091%200%2015.625-4.325t9.766-11.579l83.706-275.391q1.953-6.138%201.395-15.904%2010.603%204.185%2016.462%2011.998zM160.435%20133.929q-1.116%203.627%200.558%206.278t5.581%202.651h169.643q3.627%200%207.115-2.651t4.604-6.278l5.859-17.857q1.116-3.627-0.558-6.278t-5.581-2.651h-169.643q-3.627%200-7.115%202.651t-4.604%206.278zM137.277%20205.357q-1.116%203.627%200.558%206.278t5.581%202.651h169.643q3.627%200%207.115-2.651t4.604-6.278l5.859-17.857q1.116-3.627-0.558-6.278t-5.581-2.651h-169.643q-3.627%200-7.115%202.651t-4.604%206.278z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-book:after { background-image: url("png/book.png"); }

.ui-icon-buu-clipboard:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M214.286%20464.286h250v-178.571h-116.071q-11.161%200-18.973-7.813t-7.813-18.973v-116.071h-107.143v321.429zM285.714%2062.5v-17.857q0-3.627-2.651-6.278t-6.278-2.651h-196.429q-3.627%200-6.278%202.651t-2.651%206.278v17.857q0%203.627%202.651%206.278t6.278%202.651h196.429q3.627%200%206.278-2.651t2.651-6.278zM357.143%20250h83.426l-83.426-83.426v83.426zM500%20285.714v187.5q0%2011.161-7.813%2018.973t-18.973%207.813h-267.857q-11.161%200-18.973-7.813t-7.813-18.973v-44.643h-151.786q-11.161%200-18.973-7.813t-7.813-18.973v-375q0-11.161%207.813-18.973t18.973-7.813h303.571q11.161%200%2018.973%207.813t7.813%2018.973v91.518q5.859%203.627%2010.044%207.812l113.839%20113.839q7.813%207.813%2013.393%2021.206t5.581%2024.554z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-clipboard:after { background-image: url("png/clipboard.png"); }

.ui-icon-buu-credit-card:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M491.071%2035.714q18.415%200%2031.529%2013.114t13.114%2031.529v339.286q0%2018.415-13.114%2031.529t-31.529%2013.114h-446.429q-18.415%200-31.529-13.114t-13.114-31.529v-339.286q0-18.415%2013.114-31.529t31.529-13.114h446.429zM44.643%2071.429q-3.627%200-6.278%202.651t-2.651%206.278v62.5h464.286v-62.5q0-3.627-2.651-6.278t-6.278-2.651h-446.429zM491.071%20428.571q3.627%200%206.278-2.651t2.651-6.278v-169.643h-464.286v169.643q0%203.627%202.651%206.278t6.278%202.651h446.429zM71.429%20392.857v-35.714h71.429v35.714h-71.429zM178.571%20392.857v-35.714h107.143v35.714h-107.143z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-credit-card:after { background-image: url("png/credit-card.png"); }
.ui-icon-buu-file-text:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M285.714%20383.929v-17.857q0-3.906-2.511-6.417t-6.417-2.511h-196.429q-3.906%200-6.417%202.511t-2.511%206.417v17.857q0%203.906%202.511%206.417t6.417%202.511h196.429q3.906%200%206.417-2.511t2.511-6.417zM285.714%20312.5v-17.857q0-3.906-2.511-6.417t-6.417-2.511h-196.429q-3.906%200-6.417%202.511t-2.511%206.417v17.857q0%203.906%202.511%206.417t6.417%202.511h196.429q3.906%200%206.417-2.511t2.511-6.417zM357.143%20214.286v223.214q0%2011.161-7.813%2018.973t-18.973%207.813h-303.571q-11.161%200-18.973-7.813t-7.813-18.973v-375q0-11.161%207.813-18.973t18.973-7.813h151.786v151.786q0%2011.161%207.813%2018.973t18.973%207.813h151.786zM356.306%20178.571h-142.020v-142.020q22.879%204.185%2036.831%2018.136l87.054%2087.054q13.951%2013.951%2018.136%2036.831z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-file-text:after { background-image: url("png/file-text.png"); }

.ui-icon-buu-home:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M392.857%20276.786v133.929q0%207.254-5.301%2012.556t-12.556%205.301h-107.143v-107.143h-71.429v107.143h-107.143q-7.254%200-12.556-5.301t-5.301-12.556v-133.929q0-0.279%200.14-0.837t0.14-0.837l160.435-132.254%20160.435%20132.254q0.279%200.558%200.279%201.674zM455.078%20257.534l-17.299%2020.647q-2.232%202.511-5.859%203.069h-0.837q-3.627%200-5.859-1.953l-193.081-160.993-193.081%20160.993q-3.348%202.232-6.696%201.953-3.627-0.558-5.859-3.069l-17.299-20.647q-2.232-2.79-1.953-6.557t3.069-5.999l200.614-167.132q8.929-7.254%2021.206-7.254t21.206%207.254l68.081%2056.919v-54.409q0-3.906%202.511-6.417t6.417-2.511h53.571q3.906%200%206.417%202.511t2.511%206.417v113.839l61.105%2050.781q2.79%202.232%203.069%205.999t-1.953%206.557z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-home:after { background-image: url("png/home.png"); }
.ui-icon-buu-bitbucket:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M227.399%20239.676q2.232%2017.578-14.090%2028.181t-31.11%201.674q-10.882-4.743-14.927-16.183t-0.14-22.879%2014.509-16.183q10.044-5.022%2020.229-3.348t17.857%209.905%207.673%2018.833zM258.371%20233.817q-3.906-29.855-31.529-45.759t-54.966-3.627q-17.578%207.813-28.042%2024.693t-9.626%2036.133q1.116%2025.391%2021.624%2043.248t46.177%2015.625q25.391-2.232%2042.411-23.438t13.951-46.875zM325.056%2082.589q-5.581-7.534-15.625-12.417t-16.183-6.138-19.81-3.488q-81.194-13.114-157.924%200.558-11.998%201.953-18.415%203.348t-15.346%206.138-13.951%2011.998q8.371%207.813%2021.206%2012.695t20.508%206.138%2024.414%203.208q63.616%208.091%20125%200.279%2017.578-2.232%2024.972-3.348t20.229-5.999%2020.926-12.974zM340.96%20371.373q-2.232%207.254-4.325%2021.345t-3.906%2023.438-7.952%2019.531-16.183%2015.765q-23.996%2013.393-52.874%2019.95t-56.362%206.138-56.222-5.162q-12.835-2.232-22.74-5.022t-21.345-7.534-20.368-12.137-14.509-17.16q-6.976-26.786-15.904-81.473l1.674-4.464%205.022-2.511q62.221%2041.294%20141.323%2041.294t141.602-41.294q5.859%201.674%206.696%206.417t-1.395%2012.556-2.232%2010.324zM391.462%20103.237q-7.254%2046.596-30.971%20182.757-1.395%208.371-7.534%2015.625t-12.137%2011.161-15.207%208.649q-70.313%2035.156-170.201%2024.554-69.196-7.534-109.933-38.784-4.185-3.348-7.115-7.394t-4.743-9.766-2.511-9.487-1.674-11.021-1.535-9.766q-2.511-13.951-7.394-41.853t-7.813-45.062-6.557-41.155-6.138-44.085q0.837-7.254%204.883-13.532t8.789-10.463%2012.556-8.371%2012.835-6.278%2013.393-5.162q34.877-12.835%2087.333-17.857%20105.748-10.324%20188.616%2013.951%2043.248%2012.835%2059.989%2034.040%204.464%205.581%204.604%2014.23t-1.535%2015.067z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-bitbucket:after { background-image: url("png/bitbucket.png"); }
.ui-icon-buu-comments-o:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M196.429%20107.143q-42.69%200-79.799%2014.509t-59.012%2039.341-21.903%2053.292q0%2022.879%2014.788%2044.085t41.574%2036.831l27.065%2015.625-9.766%2023.438q9.487-5.581%2017.299-10.882l12.277-8.649%2014.788%202.79q21.763%203.906%2042.69%203.906%2042.69%200%2079.799-14.509t59.012-39.341%2021.903-53.292-21.903-53.292-59.012-39.341-79.799-14.509zM196.429%2071.429q53.292%200%2098.633%2019.113t71.568%2052.037%2026.228%2071.708-26.228%2071.708-71.568%2052.037-98.633%2019.113q-23.996%200-49.107-4.464-34.598%2024.554-77.567%2035.714-10.044%202.511-23.996%204.464h-0.837q-3.069%200-5.72-2.232t-3.208-5.859q-0.279-0.837-0.279-1.813t0.14-1.813%200.558-1.674l0.698-1.395t0.977-1.535%201.116-1.395%201.255-1.395%201.116-1.255q1.395-1.674%206.417-6.976t7.254-8.231%206.278-8.091%206.976-10.742%205.72-12.277q-34.598-20.089-54.409-49.386t-19.81-62.5q0-38.784%2026.228-71.708t71.568-52.037%2098.633-19.113zM425.781%20397.601q2.79%206.696%205.72%2012.277t6.976%2010.742%206.278%208.091%207.254%208.231%206.417%206.976q0.279%200.279%201.116%201.255t1.255%201.395%201.116%201.395%200.977%201.535l0.698%201.395t0.558%201.674%200.14%201.813-0.279%201.813q-0.837%203.906-3.627%206.138t-6.138%201.953q-13.951-1.953-23.996-4.464-42.969-11.161-77.567-35.714-25.112%204.464-49.107%204.464-75.614%200-131.696-36.831%2016.183%201.116%2024.554%201.116%2044.922%200%2086.216-12.556t73.661-35.993q34.877-25.669%2053.571-59.152t18.694-70.871q0-21.484-6.417-42.411%2035.993%2019.81%2056.919%2049.665t20.926%2064.174q0%2033.482-19.81%2062.64t-54.409%2049.247z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-comments-o:after { background-image: url("png/comments-o.png"); }
.ui-icon-buu-comment-o:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M250%20107.143q-56.919%200-106.445%2019.392t-78.683%2052.316-29.157%2071.149q0%2031.25%2019.95%2059.57t56.222%2048.968l24.274%2013.951-7.534%2026.786q-6.696%2025.391-19.531%2047.991%2042.411-17.578%2076.73-47.712l11.998-10.603%2015.904%201.674q19.252%202.232%2036.272%202.232%2056.919%200%20106.445-19.392t78.683-52.316%2029.157-71.149-29.157-71.149-78.683-52.316-106.445-19.392zM500%20250q0%2048.549-33.482%2089.704t-90.96%2065.011-125.558%2023.856q-19.531%200-40.458-2.232-55.246%2048.828-128.348%2067.522-13.672%203.906-31.808%206.138h-1.395q-4.185%200-7.534-2.93t-4.464-7.673v-0.279q-0.837-1.116-0.14-3.348t0.558-2.79%201.255-2.651l1.674-2.511t1.953-2.372%202.232-2.511q1.953-2.232%208.649-9.626t9.626-10.603%208.649-11.021%209.068-14.23%207.534-16.462%207.254-21.206q-43.806-24.833-69.057-61.384t-25.251-78.404q0-48.549%2033.482-89.704t90.96-65.011%20125.558-23.856%20125.558%2023.856%2090.96%2065.011%2033.482%2089.704z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-comment-o:after { background-image: url("png/comment-o.png"); }

.ui-icon-buu-money:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M214.286%20321.429h107.143v-26.786h-35.714v-125h-31.808l-41.294%2038.226%2021.484%2022.321q11.719-10.324%2015.346-15.904h0.558v80.357h-35.714v26.786zM357.143%20250q0%2019.531-5.859%2039.621t-16.602%2037.388-28.32%2028.181-38.504%2010.882-38.504-10.882-28.32-28.181-16.602-37.388-5.859-39.621%205.859-39.621%2016.602-37.388%2028.32-28.181%2038.504-10.882%2038.504%2010.882%2028.32%2028.181%2016.602%2037.388%205.859%2039.621zM500%20321.429v-142.857q-29.576%200-50.502-20.926t-20.926-50.502h-321.429q0%2029.576-20.926%2050.502t-50.502%2020.926v142.857q29.576%200%2050.502%2020.926t20.926%2050.502h321.429q0-29.576%2020.926-50.502t50.502-20.926zM535.714%2089.286v321.429q0%207.254-5.301%2012.556t-12.556%205.301h-500q-7.254%200-12.556-5.301t-5.301-12.556v-321.429q0-7.254%205.301-12.556t12.556-5.301h500q7.254%200%2012.556%205.301t5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-money:after { background-image: url("png/money.png"); }

.ui-icon-buu-angle-double-right:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M166.016%20267.857q0%203.627-2.79%206.417l-130.022%20130.022q-2.79%202.79-6.417%202.79t-6.417-2.79l-13.951-13.951q-2.79-2.79-2.79-6.417t2.79-6.417l109.654-109.654-109.654-109.654q-2.79-2.79-2.79-6.417t2.79-6.417l13.951-13.951q2.79-2.79%206.417-2.79t6.417%202.79l130.022%20130.022q2.79%202.79%202.79%206.417zM273.159%20267.857q0%203.627-2.79%206.417l-130.022%20130.022q-2.79%202.79-6.417%202.79t-6.417-2.79l-13.951-13.951q-2.79-2.79-2.79-6.417t2.79-6.417l109.654-109.654-109.654-109.654q-2.79-2.79-2.79-6.417t2.79-6.417l13.951-13.951q2.79-2.79%206.417-2.79t6.417%202.79l130.022%20130.022q2.79%202.79%202.79%206.417z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-angle-double-right:after { background-image: url("png/angle-double-right.png"); }
.ui-icon-tongbok-forward:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M12.556%20460.659q-5.301%205.301-8.929%203.627t-3.627-8.929v-410.714q0-7.254%203.627-8.929t8.929%203.627l198.103%20198.103q2.232%202.232%203.627%205.301v-198.103q0-7.254%203.627-8.929t8.929%203.627l198.103%20198.103q5.301%205.301%205.301%2012.556t-5.301%2012.556l-198.103%20198.103q-5.301%205.301-8.929%203.627t-3.627-8.929v-198.103q-1.395%202.79-3.627%205.301z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-forward:after { background-image: url("png/forward.png"); }

.ui-icon-buu-archive:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M303.571%20232.143q0-7.254-5.301-12.556t-12.556-5.301h-71.429q-7.254%200-12.556%205.301t-5.301%2012.556%205.301%2012.556%2012.556%205.301h71.429q7.254%200%2012.556-5.301t5.301-12.556zM464.286%20178.571v267.857q0%207.254-5.301%2012.556t-12.556%205.301h-392.857q-7.254%200-12.556-5.301t-5.301-12.556v-267.857q0-7.254%205.301-12.556t12.556-5.301h392.857q7.254%200%2012.556%205.301t5.301%2012.556zM482.143%2053.571v71.429q0%207.254-5.301%2012.556t-12.556%205.301h-428.571q-7.254%200-12.556-5.301t-5.301-12.556v-71.429q0-7.254%205.301-12.556t12.556-5.301h428.571q7.254%200%2012.556%205.301t5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-archive:after { background-image: url("png/archive.png"); }
.ui-icon-buu-calendar-o:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M35.714%20464.286h392.857v-285.714h-392.857v285.714zM142.857%20125v-80.357q0-3.906-2.511-6.417t-6.417-2.511h-17.857q-3.906%200-6.417%202.511t-2.511%206.417v80.357q0%203.906%202.511%206.417t6.417%202.511h17.857q3.906%200%206.417-2.511t2.511-6.417zM357.143%20125v-80.357q0-3.906-2.511-6.417t-6.417-2.511h-17.857q-3.906%200-6.417%202.511t-2.511%206.417v80.357q0%203.906%202.511%206.417t6.417%202.511h17.857q3.906%200%206.417-2.511t2.511-6.417zM464.286%20107.143v357.143q0%2014.509-10.603%2025.112t-25.112%2010.603h-392.857q-14.509%200-25.112-10.603t-10.603-25.112v-357.143q0-14.509%2010.603-25.112t25.112-10.603h35.714v-26.786q0-18.415%2013.114-31.529t31.529-13.114h17.857q18.415%200%2031.529%2013.114t13.114%2031.529v26.786h107.143v-26.786q0-18.415%2013.114-31.529t31.529-13.114h17.857q18.415%200%2031.529%2013.114t13.114%2031.529v26.786h35.714q14.509%200%2025.112%2010.603t10.603%2025.112z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-calendar-o:after { background-image: url("png/calendar-o.png"); }
.ui-icon-buu-building-o:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M107.143%20366.071v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM107.143%20294.643v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM178.571%20294.643v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM107.143%20223.214v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM321.429%20366.071v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM250%20294.643v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM178.571%20223.214v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM107.143%20151.786v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM321.429%20294.643v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM250%20223.214v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM178.571%20151.786v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM107.143%2080.357v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM321.429%20223.214v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM250%20151.786v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM178.571%2080.357v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM321.429%20151.786v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM250%2080.357v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM321.429%2080.357v17.857q0%203.627-2.651%206.278t-6.278%202.651h-17.857q-3.627%200-6.278-2.651t-2.651-6.278v-17.857q0-3.627%202.651-6.278t6.278-2.651h17.857q3.627%200%206.278%202.651t2.651%206.278zM250%20464.286h107.143v-428.571h-321.429v428.571h107.143v-62.5q0-3.627%202.651-6.278t6.278-2.651h89.286q3.627%200%206.278%202.651t2.651%206.278v62.5zM392.857%2017.857v464.286q0%207.254-5.301%2012.556t-12.556%205.301h-357.143q-7.254%200-12.556-5.301t-5.301-12.556v-464.286q0-7.254%205.301-12.556t12.556-5.301h357.143q7.254%200%2012.556%205.301t5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-building-o:after { background-image: url("png/building-o.png"); }
.ui-icon-buu-flag-o:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M464.286%20291.574v-171.875q-47.154%2025.391-85.379%2025.391-22.879%200-40.458-8.929-27.902-13.672-51.339-21.345t-49.665-7.673q-48.27%200-112.444%2035.435v167.132q68.359-31.529%20120.815-31.529%2015.346%200%2028.878%202.093t27.344%207.254%2021.484%208.649%2023.019%2011.021l7.813%203.906q12.277%206.138%2028.181%206.138%2033.482%200%2081.752-25.669zM89.286%2071.429q0%209.766-4.883%2017.857t-12.974%2012.835v353.237q0%203.906-2.511%206.417t-6.417%202.511h-17.857q-3.906%200-6.417-2.511t-2.511-6.417v-353.237q-8.091-4.743-12.974-12.835t-4.883-17.857q0-14.788%2010.463-25.251t25.251-10.463%2025.251%2010.463%2010.463%2025.251zM500%2089.286v212.891q0%2010.882-9.766%2015.904-2.79%201.395-4.743%202.511-60.826%2032.366-102.958%2032.366-24.554%200-44.085-9.766l-7.813-3.906q-17.857-9.208-27.623-13.393t-25.391-8.091-31.808-3.906q-28.46%200-65.708%2012.277t-63.755%2028.46q-4.185%202.511-9.208%202.511-4.464%200-8.929-2.232-8.929-5.301-8.929-15.625v-207.031q0-9.766%208.649-15.346%209.766-5.859%2021.903-11.858t31.808-14.509%2042.55-13.812%2043.248-5.301q31.25%200%2058.315%208.649t58.315%2023.996q10.603%205.301%2024.833%205.301%2034.040%200%2086.496-31.25%206.138-3.348%208.649-4.743%208.649-4.464%2017.299%200.558%208.649%205.581%208.649%2015.346z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-flag-o:after { background-image: url("png/flag-o.png"); }
.ui-icon-buu-bitcoin:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M325.614%20178.571q5.022%2050.781-36.551%2071.987%2032.645%207.813%2048.828%2028.739t12.556%2059.71q-1.953%2019.81-9.068%2034.877t-17.997%2024.833-27.065%2016.323-33.901%209.626-40.597%204.185v71.149h-42.969v-70.034q-22.321%200-34.040-0.279v70.313h-42.969v-71.149q-5.022%200-15.067-0.14t-15.346-0.14h-55.804l8.649-51.060h30.971q13.951%200%2016.183-14.23v-112.165h4.464q-1.674-0.279-4.464-0.279v-80.078q-3.627-18.973-24.833-18.973h-30.971v-45.759l59.152%200.279q17.857%200%2027.065-0.279v-70.313h42.969v68.917q22.879-0.558%2034.040-0.558v-68.359h42.969v70.313q22.042%201.953%2039.063%206.278t31.529%2012.556%2023.019%2021.763%2010.184%2031.948zM265.625%20330.636q0-10.044-4.185-17.857t-10.324-12.835-16.043-8.51-18.276-5.162-20.647-2.511-19.252-0.837-17.997%200.279-13.253%200.279v94.308q2.232%200%2010.324%200.14t13.393%200.14%2014.788-0.418%2016.323-1.116%2015.904-2.372%2015.485-3.906%2013.253-5.859%2011.021-8.371%206.836-11.161%202.651-14.23zM245.815%20197.824q0-9.208-3.488-16.323t-8.51-11.719-13.393-7.813-15.346-4.604-17.16-2.232-16.183-0.698-15.067%200.279-11.021%200.14v85.659q1.395%200%209.626%200.14t12.974%200%2013.951-0.558%2015.346-1.535%2014.37-3.069%2013.532-5.162%2010.324-7.534%207.534-10.742%202.511-14.23z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-bitcoin:after { background-image: url("png/bitcoin.png"); }
.ui-icon-buu-sign-out:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M330.357%20250q0%207.254-5.301%2012.556l-151.786%20151.786q-5.301%205.301-12.556%205.301t-12.556-5.301-5.301-12.556v-80.357h-125q-7.254%200-12.556-5.301t-5.301-12.556v-107.143q0-7.254%205.301-12.556t12.556-5.301h125v-80.357q0-7.254%205.301-12.556t12.556-5.301%2012.556%205.301l151.786%20151.786q5.301%205.301%205.301%2012.556zM428.571%20151.786v196.429q0%2033.203-23.577%2056.78t-56.78%2023.577h-89.286q-3.627%200-6.278-2.651t-2.651-6.278q0-1.116-0.279-5.581t-0.14-7.394%200.837-6.557%202.79-5.441%205.72-1.813h89.286q18.415%200%2031.529-13.114t13.114-31.529v-196.429q0-18.415-13.114-31.529t-31.529-13.114h-87.054t-3.208-0.279-3.208-0.837-2.232-1.535-1.953-2.511-0.558-3.767q0-1.116-0.279-5.581t-0.14-7.394%200.837-6.557%202.79-5.441%205.72-1.813h89.286q33.203%200%2056.78%2023.577t23.577%2056.78z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-sign-out:after { background-image: url("png/sign-out.png"); }
.ui-icon-buu-globe:after { background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M214.286%2035.714q58.315%200%20107.562%2028.739t77.985%2077.985%2028.739%20107.562-28.739%20107.562-77.985%2077.985-107.562%2028.739-107.562-28.739-77.985-77.985-28.739-107.562%2028.739-107.562%2077.985-77.985%20107.562-28.739zM290.737%20181.083q-0.558%200.279-2.651%202.651t-3.767%202.651q0.558%200%201.255-1.395t1.395-3.069%200.977-1.953q1.674-1.953%206.138-4.185%203.906-1.674%2014.509-3.348%209.487-2.232%2014.23%203.069-0.558-0.558%202.651-3.627t4.046-3.348q0.837-0.558%204.185-1.255t4.185-2.093l0.558-6.138q-3.348%200.279-4.883-1.953t-1.813-5.859q0%200.558-1.674%202.232%200-1.953-1.255-2.232t-3.208%200.279-2.511%200.279q-2.79-0.837-4.185-2.093t-2.232-4.604-1.116-4.185q-0.558-1.395-2.651-2.93t-2.651-2.93q-0.279-0.558-0.698-1.535t-0.837-1.813-1.116-1.535-1.535-0.698-1.953%201.395-2.093%202.79-1.255%201.395q-0.837-0.558-1.674-0.418t-1.255%200.279-1.255%200.837-1.395%200.977q-0.837%200.558-2.372%200.837t-2.372%200.558q4.185-1.395-0.279-3.069-2.79-1.116-4.464-0.837%202.511-1.116%202.093-3.348t-2.372-3.906h1.395q-0.279-1.116-2.372-2.372t-4.883-2.372-3.627-1.674q-2.232-1.395-9.487-2.651t-9.208-0.14q-1.395%201.674-1.255%202.93t1.116%203.906%200.977%203.488q0.279%201.674-1.535%203.627t-1.813%203.348q0%201.953%203.906%204.325t2.79%205.999q-0.837%202.232-4.464%204.464t-4.464%203.348q-1.395%202.232-0.418%205.162t2.93%204.604q0.558%200.558%200.418%201.116t-0.977%201.255-1.535%201.116-1.813%200.977l-0.837%200.558q-3.069%201.395-5.72-1.674t-3.767-7.254q-1.953-6.976-4.464-8.371-6.417-2.232-8.091%200.279-1.395-3.627-11.44-7.254-6.976-2.511-16.183-1.116%201.674-0.279%200-4.185-1.953-4.185-5.301-3.348%200.837-1.674%201.116-4.883t0.279-3.767q0.837-3.627%203.348-6.417%200.279-0.279%201.953-2.372t2.651-3.767%200.14-1.674q9.766%201.116%2013.951-3.069%201.395-1.395%203.208-4.743t2.93-4.743q2.511-1.674%203.906-1.535t4.046%201.535%204.046%201.395q3.906%200.279%204.325-3.069t-2.093-5.581q3.348%200.279%200.837-4.743-1.395-1.953-2.232-2.511-3.348-1.116-7.534%201.395-2.232%201.116%200.558%202.232-0.279-0.279-2.651%202.93t-4.604%204.883-4.464-1.395q-0.279-0.279-1.535-3.767t-2.651-3.767q-2.232%200-4.464%204.185%200.837-2.232-3.069-4.185t-6.696-2.232q5.301-3.348-2.232-7.534-1.953-1.116-5.72-1.395t-5.441%201.116q-1.395%201.953-1.535%203.208t1.395%202.232%202.93%201.535%203.208%201.116%202.372%200.837q3.906%202.79%202.232%203.906-0.558%200.279-2.372%200.977t-3.208%201.255-1.674%201.116q-0.837%201.116%200%203.906t-0.558%203.906q-1.395-1.395-2.511-4.883t-1.953-4.604q1.953%202.511-6.976%201.674l-2.79-0.279q-1.116%200-4.464%200.558t-5.72%200.279-3.767-2.232q-1.116-2.232%200-5.581%200.279-1.116%201.116-0.558-1.116-0.837-3.069-2.651t-2.79-2.372q-12.835%204.185-26.228%2011.44%201.674%200.279%203.348-0.279%201.395-0.558%203.627-1.813t2.79-1.535q9.487-3.906%2011.719-1.953l1.395-1.395q3.906%204.464%205.581%206.976-1.953-1.116-8.371-0.279-5.581%201.674-6.138%203.348%201.953%203.348%201.395%205.022-1.116-0.837-3.208-2.79t-4.046-3.069-4.185-1.395q-4.464%200-6.138%200.279-40.737%2022.321-65.569%2061.942%201.953%201.953%203.348%202.232%201.116%200.279%201.395%202.511t0.698%203.069%203.208-0.837q2.511%202.232%200.837%205.301%200.279-0.279%2012.277%207.534%205.301%204.743%205.859%205.859%200.837%203.069-2.79%205.022-0.279-0.558-2.511-2.511t-2.511-1.116q-0.837%201.395%200.14%205.162t2.93%203.488q-1.953%200-2.651%204.464t-0.698%209.905-0.279%206.557l0.558%200.279q-0.837%203.348%201.535%209.626t5.999%205.441q-3.627%200.837%205.581%2011.998%201.674%202.232%202.232%202.511%200.837%200.558%203.348%202.093t4.185%202.79%202.79%202.93q1.116%201.395%202.79%206.278t3.906%206.557q-0.558%201.674%202.651%205.581t2.93%206.417q-0.279%200-0.698%200.279t-0.698%200.279q0.837%201.953%204.325%203.906t4.325%203.627q0.279%200.837%200.558%202.79t0.837%203.069%202.232%200.558q0.558-5.581-6.696-17.299-4.185-6.976-4.743-8.091-0.837-1.395-1.535-4.325t-1.255-4.046q0.558%200%201.674%200.418t2.372%200.977%202.093%201.116%200.558%200.837q-0.837%201.953%200.558%204.883t3.348%205.162%204.743%205.301%203.348%203.627q1.674%201.674%203.906%205.441t0%203.767q2.511%200%205.581%202.79t4.743%205.581q1.395%202.232%202.232%207.254t1.395%206.696q0.558%201.953%202.372%203.767t3.488%202.651l4.464%202.232t3.627%201.953q1.395%200.558%205.162%202.93t5.999%203.208q2.79%201.116%204.464%201.116t4.046-0.698%203.767-0.977q4.185-0.558%208.091%204.185t5.859%205.859q10.044%205.301%2015.346%203.069-0.558%200.279%200.14%202.093t2.232%204.325%202.511%204.046%201.535%202.372q1.395%201.674%205.022%204.185t5.022%204.185q1.674-1.116%201.953-2.511-0.837%202.232%201.953%205.581t5.022%202.79q3.906-0.837%203.906-8.929-8.649%204.185-13.672-5.022%200-0.279-0.698-1.535t-1.116-2.372-0.698-2.372%200-2.093%201.395-0.837q2.511%200%202.79-0.977t-0.558-3.488-1.116-3.627q-0.279-2.232-3.069-5.581t-3.348-4.185q-1.395%202.511-4.464%202.232t-4.464-2.511q0%200.279-0.418%201.535t-0.418%201.813q-3.627%200-4.185-0.279%200.279-0.837%200.698-4.883t0.977-6.278q0.279-1.116%201.535-3.348t2.093-4.046%201.116-3.488-1.255-2.651-4.883-0.698q-5.301%200.279-7.254%205.581-0.279%200.837-0.837%202.93t-1.395%203.208-2.511%201.953q-1.953%200.837-6.696%200.558t-6.696-1.395q-3.627-2.232-6.278-8.091t-2.651-10.324q0-2.79%200.698-7.394t0.837-6.976-1.535-6.836q0.837-0.558%202.511-2.651t2.79-2.93q0.558-0.279%201.255-0.418t1.255%200%201.116-0.418%200.837-1.674q-0.279-0.279-1.116-0.837-0.837-0.837-1.116-0.837%201.953%200.837%207.952-0.418t7.673%200.418q4.185%203.069%206.138-0.558%200-0.279-0.698-2.651t-0.14-3.767q1.395%207.534%208.091%202.511%200.837%200.837%204.325%201.395t4.883%201.395q0.837%200.558%201.953%201.535t1.535%201.255%201.395-0.14%202.372-1.813q2.79%203.906%203.348%206.696%203.069%2011.161%205.301%2012.277%201.953%200.837%203.069%200.558t1.255-2.651%200-3.906-0.418-3.488l-0.279-2.232v-5.022l-0.279-2.232q-4.185-0.837-5.162-3.348t0.418-5.162%204.185-5.162q0.279-0.279%202.232-0.977t4.325-1.813%203.488-2.232q5.859-5.301%204.185-9.766%201.953%200%203.069-2.511-0.279%200-1.395-0.837t-2.093-1.395-1.255-0.558q2.511-1.395%200.558-4.464%201.395-0.837%202.093-3.069t2.093-2.79q2.511%203.348%205.859%200.558%201.953-2.232%200.279-4.464%201.395-1.953%205.72-2.93t5.162-2.651q1.953%200.558%202.232-0.558t0.279-3.348%200.837-3.348q1.116-1.395%204.185-2.511t3.627-1.395l4.743-3.069q0.837-1.116%200-1.116%205.022%200.558%208.649-3.069%202.79-3.069-1.674-5.581%200.837-1.674-0.837-2.651t-4.185-1.535q0.837-0.279%203.208-0.14t2.93-0.418q4.185-2.79-1.953-4.464-4.743-1.395-11.998%203.348zM245.257%20425.781q57.478-10.044%2097.935-52.734-0.837-0.837-3.488-1.255t-3.488-0.977q-5.022-1.953-6.696-2.232%200.279-1.953-0.698-3.627t-2.232-2.511-3.488-2.232-3.069-1.953q-0.558-0.558-1.953-1.674t-1.953-1.535-2.093-1.255-2.372-0.558-2.79%200.279l-0.837%200.279q-0.837%200.279-1.535%200.698t-1.535%200.837-1.116%200.837%200%200.698q-5.859-4.743-10.044-6.138-1.395-0.279-3.069-1.535t-2.93-1.953-2.79-0.418-3.208%201.953q-1.395%201.395-1.674%204.185t-0.558%203.627q-1.953-1.395%200-4.883t0.558-5.162q-0.837-1.674-2.93-1.255t-3.348%201.255-3.208%202.372-2.511%201.813-2.372%201.535-2.372%202.093q-0.837%201.116-1.674%203.348t-1.395%203.069q-0.558-1.116-3.208-1.813t-2.651-1.535q0.558%202.79%201.116%209.766t1.395%2010.603q1.953%208.649-3.348%2013.393-7.534%206.976-8.091%2011.161-1.116%206.138%203.348%207.254%200%201.953-2.232%205.72t-1.953%205.999q0%201.674%200.558%204.464z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E"); background-repeat: no-repeat; }

.ui-nosvg .ui-icon-buu-globe:after { background-image: url("png/globe.png"); }

.row > img {
    float: right;
	margin: 0 0 0 0;
	padding:.4em;
	width:60px;
	height:25px;
	
}

.button> img {
	position: absolute;
	left: 0.4em;
	top: 0.4em;
	max-height: 8em;
	max-width:  8em;
	
}
.bookButton
{
 word-wrap: break-word !important;
 white-space: normal !important;
}
	
#bookname{
	position: absolute;
	right: 1em;
	
}		
.captcha {
    margin: 0;
	padding: .4em;
	line-height: 1.4em;
	
	 width: 60%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	-webkit-border-top-left-radius: .6em;
	border-top-left-radius: .6em;
	-webkit-border-top-right-radius: .6em;
	border-top-right-radius: .6em;
	-webkit-border-bottom-left-radius: .6em;
	border-bottom-left-radius: .6em;
	-webkit-border-bottom-right-radius: .6em;
	border-bottom-right-radius: .6em;
}
button.ui-btn-inline-right,a.ui-btn-inline-right{
   float:right;
   
   -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: auto;
	
}
.ui-block-book-a {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:75%;
}
.ui-block-book-b {
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:25%;
}
/*seach button*/
.ui-block-books-a {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:75%;
}
.ui-block-books-b {
	margin: 0 0;
	padding: 0.28em 0;
	border: 0;
	float: right;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:25%;
}

.ui-block-bookcoin-a {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:40%;
}
.ui-block-bookcoin-b {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:40%;
}
.ui-block-bookcoin-c{
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:20%;
}

/* Styling of the page contents */
.article p {
	margin: 1em 0 0;
	line-height: 1.5;
}
.article p img {
	
	width:80px; 
	height:80px
}
.article p:first-child {
	text-align: left;
	
	float:left;
}
.article small {
	display: block;
	font-size: 65%;
	color: #c0c0c0;
}
#secondp{
    
	text-align: center;
	word-break:break-all;
	margin: 1em 0 0 0;
	white-space: normal;
	overflow: visible;
	color:#777777;
}

/* Styling of the ariticlebooks contents */
.articlebook a:link {
 text-decoration:none; 
 color:#333;
}


.articlebook  img {
	/*max-width: 100%;*/
	margin: 1em 0 0;
	width:80px; 
	height:80px
}

.articlebook p:last-child {
	text-align: left;
	word-break:break-all;
	margin: 0 0 0;
	padding: 0 0;
	font-size:75%;
	
}

/* Styling of the ariticletitle contents */
.ariticletitle a:link{
 text-decoration:none; 
  color:#333;
}
.ariticletitle p {
	margin: 1em 0 0;
	line-height: 1.5;
}

.ariticletitle p:first-child {
	text-align: left;
	text-indent:2em;
}
.ariticletitle small {
	display: block;
	font-size:75%;
	color: #c0c0c0;
}
.ariticletitle p:last-child {
	text-align: right;
	
    margin: -1em 2em 1em;
}

.bookcontent
{
 word-wrap: break-word !important;
 white-space: normal !important;
}

/*buu table*/
.buu-bookinfo thead th,
.buu-bookinfo tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.buu-bookinfo tbody th,
.buu-bookinfo tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.buu-bookinfo tbody tr:last-child th,
.buu-bookinfo tbody tr:last-child td {
    border-bottom: 0;
}
.buu-bookinfo tbody tr:nth-child(odd) td,
.buu-bookinfo tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

@media (max-width: 40em) {
/*  Negate the margin between sections */
.buu-bookinfo tbody th {
	margin-top: 0;
	text-align: left;
}
/*  White bg, large blue text for rank and title */
.buu-bookinfo tbody th,
.buu-bookinfo tbody td.title {
	display: block;
	font-size: 1.2em;
	line-height: 110%;
	padding: .5em .5em;
	background-color: #fff;
	color: #77bbff;
	
}
/*  Hide labels for rank and title */
.buu-bookinfo tbody th .ui-table-cell-label,
.buu-bookinfo tbody td.title .ui-table-cell-label {
				display: none;
}
/*  Position the title next to the rank, pad to the left */
.buu-bookinfo tbody td.title {
	margin-top: -2.1em;
	padding-left: 2.2em;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
/*  Make the data bold */
.buu-bookinfo th,
.buu-bookinfo td {

}
/* Make the label elements a percentage width */
.buu-bookinfo td .ui-table-cell-label,
.buu-bookinfo th .ui-table-cell-label {
	min-width: 20%;
}
}

/* Media query to show as a standard table at wider widths */
@media ( min-width: 40em ) {
/* Show the table header rows */
.buu-bookinfo td,
.buu-bookinfo th,
.buu-bookinfo tbody th,
.buu-bookinfo tbody td,
.buu-bookinfo thead td,
.buu-bookinfo thead th {
	display: table-cell;
	margin: 0;
}
/* Hide the labels in each cell */
.buu-bookinfo td .ui-table-cell-label,
.buu-bookinfo th .ui-table-cell-label {
	display: none;
}
}
/* Hack to make IE9 and WP7.5 treat cells like block level elements */
/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this */
@media ( max-width: 40em ) {
.buu-bookinfo td,
.buu-bookinfo th {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	clear: left;
}
}

	
.buu-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.buu-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.buu-cash{
position:right;
}


/*booklist css*/
.booklist  a:link {
 text-decoration:none; 
 color:#333;
}
.booklist   div{
		float: left;
		width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
		min-height: 120px; 
		margin: .2625em 1.2%;
}
.booklist   div img {
		height: auto; /* To keep aspect ratio. */
		width: 80px;
		height: 80px;
}
.booklist   div>h2,
.booklist    div >p {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
}
/* Text position */
.booklist  div> h2 {
		font-size: 1em;
		margin: 0;
		padding: .125em .5em;
		bottom: 50%;
}
.booklist  div >p {
		font-size: 75%;
		margin: 0;
		padding: 0 0.5em;
		min-height: 50%;
		bottom: 0;
}
.booklist  div> h2 {
		bottom: 30%;
}
.booklist  div > p {
		min-height: 30%;
}
.booklist div .book-aside {
        
		padding: .125em .625em;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		 /*Custom styling. */
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
}		
/*bookdetail css*/

.bookdetail  a:link {
 text-decoration:none; 
 color:#333;
}
.bookdetail  {
		float: left;
		width: 80%;
		height: 140px; 
		margin: .2625em 1.2%;
}
.bookdetail   img {
		height: auto; /* To keep aspect ratio. */
		width: 100px;
		height: 100px;
}
.bookdetail  >h2,
.bookdetail     >p {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
}
/* Text position */
.bookdetail  > h2 {
		font-size: 1em;
		margin: 0;
		padding: .125em .5em;
		bottom: 50%;
}
.bookdetail   >p {
		font-size: 75%;
		margin: 0;
		padding: 0 0.5em;
		min-height: 50%;
		bottom: 0;
}
.bookdetail  > h2 {
		bottom: 30%;
}
.bookdetail   > p {
		min-height: 30%;
}
.bookdetail  .book-aside {
        
		padding: .125em .625em;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		 /*Custom styling. */
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
}		
